<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.perswsj.mapper.ClazzMapper">
    <insert id="insert">
        INSERT INTO clazz (name, begin_date, end_date, room, master_id, subject, create_time, update_time)
        VALUES (#{name}, #{beginDate}, #{endDate}, #{room}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>
    <update id="updateById">
        UPDATE clazz
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="room != null and room != ''">room = #{room},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="subject != null and subject != ''">subject = #{subject},</if>
            update_time = #{updateTime}
        </set>
        WHERE id = #{id}
    </update>
    <delete id="deleteById">
        DELETE FROM clazz WHERE id = #{id}
    </delete>
    <select id="list" resultType="org.perswsj.model.Clazz">
        SELECT c.*, e.name masterName
        FROM clazz c
        LEFT JOIN emp e ON c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                AND c.name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="begin != null and end != null">
                AND c.end_date BETWEEN #{begin} AND #{end}
            </if>
        </where>
        ORDER BY c.update_time DESC
    </select>
    <select id="selectById" resultType="org.perswsj.model.Clazz">
        SELECT id, name, begin_date, end_date, room, master_id, subject, create_time, update_time FROM clazz WHERE id = #{id}
    </select>
    <select id="findAll" resultType="org.perswsj.dto.ClazzDto">
        SELECT id, name, room, begin_date, end_date, master_id, subject, create_time, update_time FROM clazz
    </select>
</mapper>